body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.container{
    display: grid;
  grid-template-columns: 5fr 0.5fr 2fr;
}

.one{
    border: 1px solid orangered;
    color: white;
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
    margin-top: 60px;
}
.equal{
    border: 1px solid orangered;
    color: white;
    margin-top: 60px;
    
}
.m3{
    border: 1px solid orangered;
    color: white;
    margin-top: 60px;
}

.m1{
    border: 1px solid orangered;
    color: white;
}

.add{
    border: 1px solid orangered;
    color: white;
}

.m2{
    border: 1px solid orangered;
    color: white;
}

.add_sign{
    margin-left: 35px;
}
.equal_sign{
    margin-left: 35px;
}

.r1{
    margin-top: 50px;
}

.c1{
    width: 20px;
    margin-left: 100px;
}

.c2{
    width: 20px;
}

.c3{
    width: 20px;
}

.r2{
    margin-top: 50px;
}
.r3{
    margin-top: 50px;
    margin-bottom: 50px;
}
